body {
    font-family: Arial, sans-serif;
    background-color: #7ddef9;
    padding: 20px;
}

h1 {
    color: #e931c8;
    text-align: center;

}


form {
    background-color: azure;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(237, 62, 205, 0.832);

}


h3 {
    color: #4466d3;
    font-size: 1.7em;
}

#tempInput {
    width: 50%; /* per far occupare alla casella di inserimento la metà dello
    spazio occupabile; */
    text-align: center;
    font-size: 1em;
    border: 2px solid #2f56d6;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 4px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
}

button {
    font-size: 1.1em;
    font-weight: bold;
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: lightpink;
}

#risultato {
    font-size: 1.2em;
    color: #4466d3;
    margin-top: 20px;
    font-weight: bold;
}